# -------------------------------------------------------
# Archivos sensibles
# -------------------------------------------------------
**/private.ts


frontend/my-portfolio-backup/
# -------------------------------------------------------
# Output compilado y temporales (Angular, TypeScript)
# -------------------------------------------------------
**/dist/
**/tmp/
**/out-tsc/
**/.angular/cache/
**/coverage/
**/.sass-cache/

# -------------------------------------------------------
# Dependencias (Node)
# -------------------------------------------------------
**/node_modules/
npm-debug.log*
yarn-error.log*

# -------------------------------------------------------
# Archivos de entorno de desarrollo / IDEs
# -------------------------------------------------------
# JetBrains, Eclipse, Cloud9, Sublime
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# -------------------------------------------------------
# Misceláneos
# -------------------------------------------------------
.history/
connect.lock
libpeerconnection.log
testem.log
typings/

# -------------------------------------------------------
# Archivos del sistema operativo
# -------------------------------------------------------
.DS_Store
Thumbs.db
