
<div class="com-skills">

<div class="skills">
  <p> Mis Habilidades </p>



    <!--LENGUAJES FRONTEND -->
  <div class="frontend">
       <h4>Frontend </h4>

    <div class="skill-fila">
      <div class="skill-card">
          <span>hmtl</span>
      </div>

      <div class="skill-card">
          <span>SCSS</span>
      </div>

      <div class="skill-card">
          <span>javascript</span>
      </div>

      <div class="skill-card">
          <span>Figma</span>
      </div>


    </div>


    <!--FRAMEWORD FRONTEND -->
    <div class="skill-fila">

      <div class="skill-card">
          <span>react</span>
      </div>

      <div class="skill-card">
          <span>Angular</span>
      </div>

      <div class="skill-card">
          <span>bootstrap</span>
      </div>
    </div>
  </div>




    <!--BACKEND -->
  <div class="backend">
       <h4>backend</h4>

    <div class="skill-fila">
      <div class="skill-card">
          <span>Python</span>
      </div>

      <div class="skill-card">
          <span>Node js</span>
      </div>
    </div>



   <!--Framework backend -->
    <div class="skill-fila">

      <div class="skill-card">
          <span>FLASK</span>
      </div>

    <div class="skill-card">
          <span>DJANGO</span>
      </div>

      <div class="skill-card">
          <span>Express</span>
      </div>
    </div>
  </div>


  <div class="otros">
  <h4>Habilidades técnicas y herramientas</h4>

     <!--BASE DE DATOS -->
  <div class="skill-fila">

    <div class="skill-card">
        <span>MySQL</span>
    </div>

    <div class="skill-card">
        <span>PostgreSQL</span>
    </div>

  </div>


   <!--APIs y Servicios Web -->
  <div class="skill-fila">

   <div class="skill-card">
        <span>Consumo de APIs RESTful </span>
    </div>
  </div>

 <!--CONTROL DE VERSIONES -->
  <div class="skill-fila">

   <div class="skill-card">
        <span>Git </span>
    </div>
    <div class="skill-card">
        <span>Github</span>
    </div>
  </div>


 <!--Autenticación y Seguridad -->
  <div class="skill-fila">
   <div class="skill-card">
        <span>OAuth</span>
    </div>
  </div>

  </div>


</div>

  <div class="mis">
   <p class="misp">
       He trabajado en proyectos personales donde aplico lo que aprendo mientras desarrollo mis habilidades como desarrollador web. Estoy en constante aprendizaje, buscando mejorar día a día y aportar soluciones creativas y funcionales en cada proyecto.
  </p>
   </div>

</div>

