
<div class="home">


<div class="about">
  <p class="blue">About Me</p>

    <!-- Contenedor con imagen y texto -->
    <div class="about-container">
      <div class="about-image">
        <!-- Imagen relacionada con tu área -->
        <img src="escritorio3.jpg" alt="Imagen representativa" />
      </div>
      <div class="about-text">

      <p class="ptext"><strong>Soy Ingeniera de Sistemas</strong>
      Con interés en el desarrollo full-stack. He adquirido habilidades en
      tecnologías de frontend y backend para crear aplicaciones web completas.
      Mi objetivo es seguir aprendiendo y aportar eficazmente en proyectos,
      combinando diseño y funcionalidad.</p>



      </div>
    </div>
    <!-- Botón "Ver más" -->
    <a routerLink="/about" class="btn-light">Ver más</a>
</div>




<!--SECTION SKILL
<div class="services">
  <p class="blue">SERVICES</p>


<div class="service-container-wrapper">

  <div class="service-container">


      <span class="material-icons custom">code</span>

      <div class="service-text">
      <h4 class="h4-service"> Desarrollo de Páginas Web Personalizado </h4>
      <p class="ptext">
      Crea tu presencia online con sitios web personalizados,
      atractivos y funcionales para tu negocio o proyecto
      </p>
      </div>

      <a href="#about-detail" class="btn-light">Ver más</a>
</div>




  <div class="service-container">

      <span class="material-icons custom">link</span>
      <div class="service-text">
      <h4 class="h4-service">Generador de landing pages para redes sociales</h4>
        <p class="ptext">Genera tu landing page en segundos completando un formulario.
        Ideal para promocionar productos, servicios, ofertas o webinars.
        </p>
      </div>
       <!-- Botón "Ver más"
       <a href="#about-detail" class="btn-light">Ver más</a>
  </div>




  <div class="service-container">

      <span class="material-icons custom">support</span>
      <div class="service-text">
      <h4 class="h4-service">Soporte Remoto y Optimización de PC</h4>
        <p class="ptext"> Optimiza y resuelve problemas de tu PC de manera remota,
        mejorando su rendimiento sin necesidad de desplazamientos.
        </p>
      </div>
   <!-- Botón "Ver más"
    <a href="#about-detail" class="btn-light">Ver más</a>
  </div>




   <div class="service-container">

        <span class="material-icons custom">autorenew</span>
      <div class="service-text">
        <h4 class="h4-service"> Automatización en Google Sheets con Apps Script </h4>
        <p class="ptext">Optimiza y automatiza tus procesos con scripts personalizados,
        mejorando la eficiencia y reduciendo el tiempo de trabajo</p>
      </div>
       <!-- Botón "Ver más"
    <a href="#about-detail" class="btn-light">Ver más</a>
  </div>

  </div>

</div> -->



 <!--SECTION SKILL -->

  <div class="skill">
    <p class="blue blue-skills">Skills </p>

    <div class="skill-line">

    <!--FRAMEWORD FRONTEND -->
      <div class="skill-fila1">

      <div class="skill-card">60%
          <i class="fab fa-react" style="font-size: 50px; color:#61DAFB;"></i>
        <progress id="file" max="100" value="60"></progress>
      </div>

      <div class="skill-card">60%
          <i class="fab fa-angular" style="font-size: 50px; color:#DD0031;"></i>
        <progress id="file" max="100" value="60"></progress>
      </div>

      <div class="skill-card">90%

          <i class="fab fa-bootstrap" style="font-size: 50px; color: #6f42c1;"></i>
       <progress id="file" max="100" value="80"></progress>
      </div>

    </div>



   <!--Framework BACKEND -->
  <div class="skill-fila2">

   <div class="skill-card">80%
        <i class="fab fa-python" style="font-size: 50px; color:#092E20;"></i>
    <progress id="file" max="100" value="80"></progress>
    </div>

    <div class="skill-card">60%
        <i class="fab fa-node-js" style="font-size: 50px; color:#68A063;"></i>
    <progress id="file" max="100" value="60"></progress>
    </div>

   <!--  <div class="skill-card">50%
         <i class="fab fa-java" style="font-size: 50px; color:#FF6F00;"></i>
    <progress id="file" max="100" value="50"></progress>
    </div>-->
  </div>


   <!--BASE DE DATOS -->
  <div class="skill-fila3">

  <div class="skill-card">70%
    <!-- Contenedor para el icono y el texto -->
    <div class="icon-container" style="position: relative; display: inline-block; text-align: center; width: 50px; height: 50px; border-radius: 50%; background-color:#f2e8e8; color: white; font-size: 20px; line-height: 65px;">
      <!-- Imagen dentro del círculo -->
      <img src="my-sql.png" alt="MySQL Logo" style="width: 25px; height: 25px;  object-fit: cover; margin-bottom:30px;">

      <!-- Texto "MySQL" encima de la imagen -->
      <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
        <span style="font-size: 14px; color:#336791;">My</span>
        <span style="font-size: 14px; color:#f29111;">SQL</span>
      </div>
    </div>
    <progress id="file" max="100" value="70"></progress>
  </div>


  <div class="skill-card"> 60%
      <!-- Contenedor para el icono y el texto -->
      <div class="icon-container" style="position: relative; display: inline-block; text-align: center; width: 60px; height: 60px; border-radius: 50%; background-color:$blanco; color: white; font-size: 20px; line-height: 65px;">
        <!-- Imagen dentro del círculo -->
        <img src="postgre.png" alt="pg Logo" style="width: 40px; height: 40px;  object-fit: cover;">
        <!-- Texto "MySQL" encima de la imagen -->
        <div style="position: absolute; top: 95%; left: 50%; transform: translate(-50%, -50%);">
          <span style="font-size: 12px; color:$blanco;">Postgre</span>
          <span style="font-size: 12px; color:#336791;">SQL</span>
        </div>
      </div>
      <progress id="file" max="100" value="70">60%</progress>
    </div>

    <!-- Botón "Ver más" -->
    <div class="skill-button">
    <a routerLink="/skills" class="btn-light">Ver más</a>
    </div>
  </div>




    </div>
  </div>
</div>




<div class="projects">
  <p class="blue">My Projects</p>

    <!-- Contenedor con imagen y texto -->
    <div class="project-container">
      <div class="project-text">
      <h2>Descubre mis proyectos más recientes</h2>
      <p class="ptext">
      Proyectos que reflejan mi pasión por el desarrollo"
        Aquí puedes ver cómo mis habilidades se transforman en soluciones funcionales y visualmente atractivas.</p>
      </div>

      <div class="project-im">
      <div class="project-image">
        <!-- Imagen relacionada con tu área -->
        <img src="portafolio.jpg" alt="Imagen representativa" />
      </div>
      </div>
      <div class="project-im">
      <div class="project-image">
        <!-- Imagen relacionada con tu área -->
        <img src="dweb.jpg" alt="Imagen representativa" />
      </div>
      </div>



    </div>
    <!-- Botón "Ver más" -->
    <a routerLink="/projects" class="btn-light">Ver más</a>
</div>
