<!-- About Component -->
<div class="about-container">
  <h2>Lili Jhoana Sanchez</h2>

  <section class="education">
    <h3>Educación</h3>
     <div class="ing">
        <h5>Ingenieria de Sistemas</h5><em>Universidad UNAD - 2022</em>
      </div>
    <ul>
      <li>
        <strong>Tecnología en Sistemas de Información</strong>, <em>Universidad del Valle - 2010</em>
      </li>
      <li>
        <strong>Técnico en Contabilidad</strong>, <em>Instituto Dempresa - 2016</em>
      </li>
    </ul>
  </section>

    <section class="courses">
    <h3>Formación Adicional</h3>
    <ul class="uls">
      <li>Curso de <strong>JavaScript, </strong><em>Udemy</em></li>
      <li>Curso de <strong>Git y GitHub, </strong><em>Udemy</em></li>
      <li>Curso de <strong>Fullstack (MongoDB y jQuery), </strong><em>Udemy</em></li>
      <li>Curso de <strong>Python. </strong><em>Udemy</em></li>
      <li>Curso de <strong>ChatGPT para el Trabajo, </strong><em>Udemy</em></li>
      <li>Curso de <strong>React, </strong><em>Udemy</em></li>
    </ul>
  </section>


 <div class="experience-principal">
  <section class="experience">
    <h3>Experiencia Técnica</h3>
      <ul class="uls">
    <li>
      <strong>Frontend Developer</strong>, <em>Freelancer (enero 2025 – abril 2025)</em>
      <p>Desarrollo de aplicaciones web utilizando React, Django, Flask, JavaScript y PostgreSQL. Codificación y despliegue de proyectos personales y freelance.</p>
      <p><strong>Proyectos destacados:</strong></p>
      <ul>
        <li>Plataforma cristiana (Flask + Bootstrap)</li>
        <li>Sitio corporativo Mainsys (React)</li>
        <li>Catálogo de películas (React + API)</li>
        <li>Web CM’s Estética (Django)</li>
      </ul>
    </li>
  </ul>
  </section>

  </div>


  <section class="habilidades">
    <h3>Habilidades</h3>
    <ul class="uls">
      <li>Desarrollo de aplicaciones web</li>
      <li>Conocimiento en bases de datos Sql (Mysql, Posgrest)</li>
      <li>Dominio de herramientas de control de versiones (Git y GitHub)</li>
      <li>Programación en JavaScript, Python, React</li>
      <li>Metodologías ágiles y trabajo en equipo</li>
      <li>Conocimientos básicos en UX/UI</li>
    </ul>
  </section>
</div>

